* {
    margin: 0;
    padding: 0;
}

img {
    height: 10%;
    width: 100vh;
    max-width: 100vw;
    overflow: hidden;

}

p {
    font-size: 15px;
    max-height: 100px;
    overflow-y: hidden;

}

em > strong > p{
    font-size: 5px;
    
}


li {
    background-color: tan;
    height: 100px;
    width: 50px;
}

/* nth-child
   2nd-child
   1st-child
   n is just a placeholder for a number
*/
li:nth-child(3n),
li:nth-child(2n) {
    background-color:black
}

li:nth-child(even){
    background-color: lightgrey;
}

li:nth-child(even)::marker{
    background-color: white;
}

/*ul:nth-child(2n) {
    list-style-type: none;
    color: hotpink;
}
*/


h3 {
    color:red;
    background-color: darkblue;
}

.coolClass {
    color:fuchsia;
}

h1 {
    color:blue;
    background-color: rgb(66, 87, 66);
}

h1 {
    color:#cc0a0a;
}